.navbar {
 padding-left: 50px;
    padding-top: 30px;
  background-color: #eab676;
  overflow: hidden;
}


.navbar a {
  float: right;
  font-size: 45px;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
    
}
.img1{
    padding-top: 30px;
    height: 700px;
    width:100%;
}
.logo{
    height: 100px;
    width:500px;
    position: absolute
}

.Text1{
    font-size: 50px;
    font-family: 'EB Garamond';
   
}
body{
    background-color: #eab676;
    margin:0px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size:100px;
    background-color: black;
    opacity: 0.7;
    font-weight: bold;
    border-radius: 30px;
    
}
.centered a{
    color: white;
    text-decoration: none;
}
.Cart{
    height:50px;
    width:50px;
    padding-left: 20px;
    position: absolute;
    left: 550px;
    top:75px;
}
hr{
    color: black;
    border-color: black;
    
}
.sale{
     font-size: 25px;
    position:relative;
    text-align: center;
    padding-bottom: 0px;
    padding-top: opx;
}
/*shirt product images*/
.shirt{
    width: 250px;
    height: 400px;
    border-radius: 40px;
    position: relative;
    left:60px;
    top: 40px;
    float: left;
}
.shirt2{
    width: 250px;
    height: 400px;
    bottom:220px;
    border-radius: 40px;
    position: relative;
    left:600px;
    float: left;

}
.shirt3{
   width: 250px;
    height: 400px;
    border-radius: 40px;
    position: relative;
    right: 797px;
    top: 250px;
    float: left;
    
}

.shirt4{
   width: 250px;
    height: 400px;
    border-radius: 40px;
    position: absolute;
    right: 420px;
    top: 1475px;
    float: left;
    bottom: 100px;
    
}

/*shirt product description*/
.Shirtdesc{
    position: relative;
    left:60px;
    top:100px;
    font-size: 50px;
}
.Shirtdesc2{
    position: relative;
    left:600px;
    bottom: 170px;
    font-size: 50px;
    float: left;
}
.Shirtdesc3{
    position: relative;
    right: 800px;
    top: 250px;
    font-size: 50px;
    float: left;
}
.Shirtdesc4{
    position: absolute;
    right: 55px;
    top: 1475px;
    font-size: 50px;
    float: left;
}
.high{
    background-color: gainsboro;
    background-size:contain;
}
.footer{
    background-color: dimgray;
     position: absolute;
            top: 2000px;
            left: 0px;
            width: 100%;
    height: 250px;
            color: #fff;
            text-align: center;
           padding: 0px;
}
.ftlogo{
    height: 100px;
        width:350px;
        left:0px;
    float: left;
   top: 90px;
    position: absolute;
   
    left:40px
}
.ftnav{
    float: left;
    right: 100px;
     position: absolute;
     left:20px;
    bottom: 150px;
    padding: 0px;
    font-size: 30px;
    text-align: left;
    color: black;
    
   
}
.ftnav a{
    color: white;
   
}
.copyright{
    text-align: left;
    top:200px;
    position: absolute;
    left: 20px;
}
.ftcontact{
    left: 800px;
    position: absolute;

    
    font-size: 40px;
    bottom: 10px
}